<% if @offices %>
<div class="row">
<div class="row">
  <div class="large-12 columns">
    <a class ="tiny button" href="#" data-reveal-id="officetiny">Add Office</a>
      <div class="reveal-modal tiny" id="officetiny" data-reveal="">
          <h2>Add New Office</h2>
              Name: <input type="text" id ="oname" name="oname"><br>
              <input type="button" class ="tiny button" value="Save Office" id ="addOfficeButton"/>
              <a class="close-reveal-modal">×</a>
      </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h1 class="page-title">Offices</h1>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <div data-alert class="alert-box alert radius" style="display:none">
      <ul class="error_list"></ul>
      <a href="#" class="close">&times;</a>
    </div>
    <div data-alert class="alert-box warning radius" style="display:none">
      <ul class="error_list"></ul>
      <a href="#" class="close">&times;</a>
    </div>
    <div data-alert class="alert-box success radius" style="display:none">
      <span class="success_msg"></span>
      <a href="#" class="close">&times;</a>
    </div>
  </div>
</div>

 <div class="row">
  <div class="large-12 columns" id="search_results">
    <% @offices.each do |result| %>
      <% if result["type"]  == "office" then %>
        <a class="do_highlight" href="../offices/<%=result["data"]["name"].html_safe%>"> <strong> 
        <%=result["data"]["name"].html_safe  %> </strong> </a> </br></br>
      <%end%>  
    <%end%>
  </div>
</div>
<%end%>