<% if @results_office%>

<div class="row">
  <div class="large-12 columns">
    <h1 class="page-title">Offices</h1>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <div data-alert class="alert-box alert radius" style="display:none">
      <ul class="error_list"></ul>
      <a href="#" class="close">&times;</a>
    </div>
    <div data-alert class="alert-box warning radius" style="display:none">
      <ul class="error_list"></ul>
      <a href="#" class="close">&times;</a>
    </div>
    <div data-alert class="alert-box success radius" style="display:none">
      <span class="success_msg"></span>
      <a href="#" class="close">&times;</a>
    </div>
  </div>
</div>

 <div class="row">
  <div class="large-12 columns" id="offices">

     <%= render partial: 'partial_office_search'  %>

   
  </div>
</div>
<%end%>