*.rb text eol=lf
*.local text eol=lf
*.haml text eol=lf
*.erb text eol=lf
*.html text eol=lf
*.ru text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.rspec text eol=lf
*.md text eol=lf
*.gitattributes text eol=lf
*.gitignore text eol=lf