<div class="row">
  <div class="large-12 columns">
    <div class="result-stats">37 results (0.32 seconds)</div></br>
  </div>
</div>
<div class="row">
  <div class="small-10 small-centered columns onebox-shadow ">
  	<h4 class="definition-title">Active Student</h4>
  	<span class="definition-body">
      An individual who has been confirmed by an admitting office (or other admitting authority), as recorded by the University Registrar, is considered an active student until he or she:</span>
  	  <ul class="definition-body">
		    <li>Graduates (if degree-seeking)</li>
		    <li>Completes the <span data-tooltip class="has-tip" title="One of the major periods of instruction during the academic year.">academic term</span> (if non degree-seeking)</li>
		    <li>Withdraws or is dismissed by the University</li>
		    <li>Fails to enroll for a spring or fall <span data-tooltip class="has-tip" title="One of the major periods of instruction during the academic year.">academic term</span> (unless granted a leave of absence by a Dean)</li>
	    </ul>
  	<div class="result-stats"> by <a href="">Office of Registar</a> November 15, 2013 </div>
  </div>
</div>

<div class="pagination-centered">
  <ul class="pagination">
    <li class="arrow unavailable"><a href="">&laquo;</a></li>
    <li class="current"><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li class="unavailable"><a href="">&hellip;</a></li>
    <li><a href="">12</a></li>
    <li><a href="">13</a></li>
    <li class="arrow"><a href="">&raquo;</a></li>
  </ul>
</div>
