<% if @results["success"] %>

<h1>Search Results</h1>
<ul><% @results["result"].each do |result| %>
	<% case result["&type"] %>
      <% when "term" %>
        <li><a href="../terms/<%= result["name"] %>">
        	Term: <%= result["name"] %>
        </a></li>
      <% when "office" %>
        <li>Office: <%= result["name"] %></li>
	<% end %>
<% end %></ul>

<% end %>