<% if @results["Success"] %>

<h1>Search Results</h1>
<ul><% @results["Results"].each do |result| %>
	<% case result["Type"] %>
      <% when "Term" %>
        <li><a href="../terms/<%= result["Data"]["Id"] %>">
        	Term: <%= result["Data"]["Name"] %>
        </a></li>
      <% when "Office" %>
        <li>Office: <%= result["Data"]["Name"] %></li>
      <% when "Person" %>
        <li>Person: <%= result["Data"]["NetId"] %></li>
	<% end %>
<% end %></ul>

<% end %>