
   <% @results_term.each do |result| %>
    <% if result[:type]  == 'term' then %>
     <a class="do_highlight" href="../terms/<%=result[:data]["name"]%>"> <strong>
      <%= result[:data]["name"] %></strong> </a> </br>
      <% if  result[:data]["definition"]   then %>
           <p class="do_highlight" >  <%= result[:data]["definition"].html_safe %></p>
          <%else%>
          <p class="do_highlight" > NA </p>
         <%end%>
     <%end%>
 <%end%>
 <%= will_paginate(@results_term, :class => "apple_pagination") %> <br>
