.searchResult.termSearchResult
  .result_header
    .result_icon.result_icon_term
    %h1.result_title
      %a.do_highlight.res_title{:href => "../#{result["&type"].pluralize}/#{result["name"]}"}
        = result["name"]
  .do_highlight.result_body
    = result["definition"].html_safe
