
   <% results.each do |result| %>
    <% if result[:type]  == 'term' then %>
     <a class="do_highlight" href="../terms/<%=result[:data]["name"]%>"> <strong>
      <%= result[:data]["name"] %></strong> </a> 
      <% if result[:data]["definition"]  then %>
           <div class="do_highlight"><%= result[:data]["definition"].html_safe %></div>  
       <%else%>
          <p class="do_highlight">  NA </p>
       <%end%>
     <%end%>
 <%end%>
 <%= will_paginate(results, :class => "apple_pagination") %> <br>
