<div class="row">
  <div class="large-12 columns">
    <h1 class="page-title">Term Catalog</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h2>Wow.  One day we will list the terms here</h2>
    </div>
  </div>
</div>
