<div class="top-bar-wrap">
  <nav class="top-bar row" data-topbar>
    <div>
      <div class="large-12">
        <!-- Title -->
        <ul class="title-area">
          <li class="name"></li>

          <!-- Mobile Menu Toggle -->
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>

        </ul>

        <!-- Top Bar Section -->
  
        <section class="top-bar-section">

          <!-- Top Bar Left Nav Elements -->
          <ul class="left">

            <!-- Search | has-form wrapper -->
            <li class="has-form">
              <div class="row collapse">
                <div class="large-9 small-9 columns">
                  <input type="text" placeholder="Find data">
                </div>
                <div class="large-3 small-3 columns">
                  <a href="\search" class="secondary button expand">Search</a>
                </div>
              </div>
            </li>
            <!-- Dropdown -->
            <li class="has-dropdown not-click"><a href="http://zurb.com">Explore</a>
              <ul class="dropdown"><li class="title back js-generated"></li>

                <li><a href="https://sp.nd.edu/c/provost/registrar/BI_reports/BIWIPDEV/Registrar_Course_Model.rsds">Student Course</a></li>
                <li><a href="https://sp.nd.edu/c/provost/registrar/BI_reports/BIWIPDEV/Registrar_Course_Model.rsds">Staff Headcount</a></li>
                <li><a href="https://sp.nd.edu/c/provost/registrar/BI_reports/BIWIPDEV/Registrar_Course_Model.rsds">Faculty Headcount</a></li>
                
              </ul>
            </li>
          </ul>

          <!-- Top Bar Right Nav Elements -->
          <ul class="right">
            <!-- Divider -->
            <li class="divider"></li>
             <!-- Anchor -->
            <li><a href="/reports">Analytics Gallery</a></li>
            <li class="divider"></li>
            <li><a href="/terms">Glossary</a></li>
            <li class="divider"></li>

            <!-- Dropdown -->
            <li class="has-dropdown not-click"><a href="http://zurb.com">cfreder2</a>
              <ul class="dropdown"><li class="title back js-generated"></li>
                <li><label>User</label></li>
                <li><a href="#">Logout</a></li>
                <li><a href="#">Your Security Roles</a></li>
                <li class="divider"></li>
                <li><a href="#">Data Models</a></li>
                <li class="divider"></li>
                <li><label>Admin</label></li>
                <li><a href="#">View Raci Matrix</a></li>
                <li class="has-dropdown not-click"><a href="#">Manage Terms</a>

                  <!-- Nested Dropdown -->
                  <ul class="dropdown"><li class="title back js-generated"></li>
                    <li><a href="#">New Term</a></li>
                    <li><a href="#">Edit Pending Terms</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </nav>
</div>