<div class="top-bar-wrap">
  <nav class="top-bar row" data-topbar>
    <div>
      <div class="large-12">
        <!-- Title -->
        <ul class="title-area">
          <li class="name"></li>

          <!-- Mobile Menu Toggle -->
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>

        </ul>

        <!-- Top Bar Section -->

        <section class="top-bar-section">

          <!-- Top Bar Left Nav Elements -->
          <ul class="left">

            <li class="has-dropdown not-click"> <a href="/">All</a> </li>
            <li class="divider"></li>
            <!-- Search | has-form wrapper -->
             <li>
                <%= text_field_tag "search1" %>
             </li>

            </ul>


            <!-- Top Bar Right Nav Elements -->
          <ul class="right">
            <!-- Divider -->
                <div class="welcome"><% if current_user %>Welcome <%=current_user.name%><% end %></div>
                <li class="has-dropdown not-click"><a href="#">Admin</a>
               <!-- Nested Dropdown -->
                  <ul class="dropdown"><li class="title back js-generated"></li>
                    <li><a class ="tiny button" href="#" data-reveal-id="mytiny"><strong>Add New Term</strong></a>
                      <div class="reveal-modal tiny" id="mytiny" data-reveal="">
                          <h2>Add a New Term</h2>
                          Name: <input type="text" id ="tname" name="tname"><br>
                          <div class="row">
                          <div class="large-4 columns"> <span> &nbsp;</span>
                          </div>
                          <div class="large-4 columns">
                          <input type="button" class ="tiny button" value="Save Term" id ="createTermButton"/>
                          </div>
                          <div class="large-4 columns">
                          </div>
                          </div>
                          <a class="close-reveal-modal">×</a>
                      </div>
                    </li>
                    <li class="divider"></li>
                     <li> <a class ="tiny button" href="#" data-reveal-id="officetiny"><strong>Add New Office </strong></a>
                        <div class="reveal-modal tiny" id="officetiny" data-reveal="">
                          <h2>Add New Office</h2>
                          Name: <input type="text" id ="oname" name="oname"><br>
                          <div class="row">
                          <div class="large-4 columns"> <span> &nbsp;</span>
                          </div>
                          <div class="large-4 columns">
                          <input type="button" class ="tiny button" value="Save Office" id ="addOfficeButton"/>
                          <div class="large-4 columns">
                          </div>
                          </div>
                          <a class="close-reveal-modal">×</a>
                        </div>
                    </li>
                     <li class="divider"></li>
                     <% if current_user.can( :publish_report ) %>
                     <li> <a class ="tiny button" href="#" data-reveal-id="reporttiny"><strong>Add New Report </strong></a>
                        <div class="reveal-modal tiny" id="reporttiny" data-reveal="">
                          <h2>Add New Report</h2>
                          Name: <input type="text" id ="rname" name="rname"><br>
                          <div class="row">
                          <div class="large-4 columns"> <span> &nbsp;</span>
                          </div>
                          <div class="large-4 columns">
                          <input type="button" class ="tiny button" value="Save Report" id ="createReportButton"/>
                          <div class="large-4 columns">
                          </div>
                          </div>
                          <a class="close-reveal-modal">×</a>
                        </div>
                    </li>
                    <% end %>
                  </ul>
               </li>


          </ul>
        </section>
      </div>
    </div>
  </nav>
</div>
