<!-- <div class="row">
  <div class="large-12 columns">
<%= link_to 'Browse All', browse_path %><br/>
<%= link_to 'Browse Terms', "/browse/term" %><br/>
<%= link_to 'Browse Reports', "/browse/report" %><br/>
</div>
</div>
 -->  