<div class="row">
	<div class="medium-9 medium-centered columns">
		<%= text_field_tag "search1" %>
	</div>
</div>
<div class="row">
  <div class="medium-9 medium-centered columns">
     <div id="search_results">
       <div class="loading_bar">
	       	<% if params.has_key?(:selected_resources)%>
	       		<input type="hidden" id="initial_selected_resources" value="<%= params['selected_resources']%>">
       		<% end %>
        	<%= image_tag "ajax-loader.gif" %>
       </div>
     </div>
   </div>
 </div>
