.row
  .medium-9.medium-centered.columns
    = text_field_tag "search1"
.row
  .medium-11.medium-centered.columns
    - unless params.has_key?(:q)
      %input#initial_selected_resources{:type => "hidden", :value => params['selected_resources']}
    #search_results
      .loading_bar        
        = image_tag "ajax-loader.gif"