<div class="row">
  <div class="large-12 columns">
    <h1 class="page-title">Welcome</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h2>We&rsquo;re stoked you want access to data! </h2>
      <p>A letter from John here... plus his photo.</p>
      <div class="row">
        <div class="large-4 medium-4 columns">
      <p><a href="http://foundation.zurb.com/docs">Data Governance Process</a><br />Learn how Notre Dame is creating a common language for our data.</p>
    </div>
        <div class="large-4 medium-4 columns">
          <p><a href="http://github.com/zurb/foundation">Meet the team</a><br />Find out more about the humans who help run this place</p>
        </div>
        <div class="large-4 medium-4 columns">
          <p><a href="http://twitter.com/foundationzurb">@DataDrivenDecisionMakingND</a><br />Ping us on Twitter if you need help.</p>
        </div>        
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-8 medium-8 columns">
    <h4>Favorites</h4>
    <!-- Grid Example -->
    <div class="row">
      <div class="large-4 medium-4 columns">
        <div class="callout panel">
          <p>GLEZ</p>
        </div>
      </div>
      <div class="large-4 medium-4 columns">
        <div class="callout panel">
          <p>People EZ</p>
        </div>
      </div>
      <div class="large-4 medium-4 columns">
        <div class="callout panel">
          <p>Talent Review</p>
        </div>
      </div>
    </div>
    
    <hr />
            
    <h4>Recently viewed</h4>
    <!-- Grid Example -->
    <div class="row">
      <div class="large-4 medium-4 columns">
        <div class="callout panel">
          <p>GLEZ</p>
        </div>
      </div>
      <div class="large-4 medium-4 columns">
        <div class="callout panel">
          <p>People EZ</p>
        </div>
      </div>
      <div class="large-4 medium-4 columns">
        <div class="callout panel">
          <p>Talent Review</p>
        </div>
      </div>
    </div>
  </div>     

  <div class="large-4 medium-4 columns">
    <h4>Newly added</h4>
    <a href="#" class="small button">Space Management</a><br/>       
  </div>
</div>
