<div class="row">
  <div class="large-12 columns" >
     <div id="search_results">
       <div class="loading_bar">
         <%= image_tag "ajax-loader.gif" %>
       </div>
     </div>
   </div>
 </div>
