/ I want to call this file filter_count_nav_bar.html.erb

/ SIDEBAR
/ .row
/   %dl.left-sidebar.small-2.column
/     / @node_types = [ 'report', 'term' ]
/     - @node_types.each_with_index do |type_name,index|
/       .data-type-label-container.toggleable-data-type-label-container
/         .data-type-toggle
/           // this just switches the class and saves
/           %div{:class => "toggle_light toggle_on #{"toggle_off" if !@selected_node_types.include? type_name}", "data-resource-name" => type_name}

/             = check_box_tag '', '', (@selected_node_types.include? type_name)
        
/         .data-type-label= type_name
/         .data-type-count= @resource_count_hash[type_name] || 0






/ - if current_user
/   .data-type-label-container
/     .sidebar_security_role_row.sidebar_security_role_header
/       .data-type-toggle  
/       .data-type-label my security roles
/     - @report_roles.each do |role|
/       .sidebar_security_role_row
/         .data-type-toggle
/           .toggle_light.toggle_on.toggle_off
/             = check_box_tag '', ''
/         .data-type-label= role.name
/ SIDEBAR

/////with sidebar console outputs/////
/guide_search?selected_resources=term          guide.js?body=1:62
/ binding                                      guide.js?body=1:130
/ hit                                          guide.js?body=1:133
/ /guide_search?selected_resources=term&page=2 guide.js?body=1:154
/ binding 


/// without sidebar///

/ /guide_search?selected_resources=term        guide.js?body=1:62
/ binding                                      guide.js?body=1:130
/ hit                                          guide.js?body=1:133
/ /guide_search?&page=2                        guide.js?body=1:154
/ binding 

/ SEARCH RESULTS
.row
  #search_results_right.large-11.large-centered.columns
    .content
      = render partial: "partial_search", locals: {results: @results || [] }
/ SEARCH RESULTS