<script>
  $(document).foundation();
  $('.data-type-label-container').click( function() {
    $(this).find('.toggle_light').toggleClass('toggle_off')
  })
</script>

<div class="row">

    <!-- SIDEBAR -->
    <dl class="left-sidebar small-2 column">

      <% @node_types.each_with_index do |type_name,index| %>
        <div class="data-type-label-container">
          <div>
            <div class="data-type-toggle"><div class="toggle_light toggle_on"></div></div>
            <div class="data-type-label"><%= type_name %></div>
            <div class="data-type-count"><%= @results_hash[type_name] || 0 %></div>
          </div>
        </div>
      </br>
      <% end %>

    </dl>
    <!-- SIDEBAR -->



    <!-- SEARCH RESULTS -->
    <div class="small-10   column">
        <div class="content" >
          <%= render partial: "terms/partial_search", locals: {results: @results || [] } %>
        </div>
    </div>
    <!-- SEARCH RESULTS -->



<div>
