/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 *= require joyride
 *= require select2
 */

$department: ooit;

@import 'nd_foundation';

$light-blue: rgb(63,141,217);
$gold:			 rgb(181,132,46);
$blue:			 rgb(2,43,91);
$green:			 rgb(57,167,74);



//=========================================================//
//======================Doc==============================//
//=======================================================//


html, body {
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
	width: 96% !important;
	padding: 0 2% !important;
}

//=========================================================//
//======================Theme Bar==============================//
//=======================================================//

.dept-ooit a{
	width: 500px;
}

//=========================================================//
//======================D3M Bar==============================//
//=======================================================//


.top-bar {
	background-color: transparent !important;
	color: black;
	width: 100%;

	li {
		background-color: transparent !important;

		a {
			background-color: transparent !important;
		}

		a:hover {
			background-color: black !important;
			color: white !important;
		}
	}
}

.dropdown > li {
	background-color: white !important;
}

.top-bar-section .has-dropdown > a:after {
	border-color: black transparent transparent !important;
}

.top-bar-section .has-dropdown:hover > a:after {
	border-color: white transparent transparent !important;
}






//=========================================================//
//======================links & buttons==============================//
//=======================================================//


a {
	color: black !important;
}

a:hover {
	color: $gold !important;
	text-decoration: none !important;
}

.close-reveal-modal:hover {
	color: red !important;
}





.button {
	background-color: transparent !important;
	border: 2px solid black !important;
	color: black !important;
}

.button:hover {
	background-color: black !important;
	color: white !important;
}
//=========================================================//










.splash {
	text-align: center;
}

.welcome{
	float: left;
	color: white;
	position: relative;
	top: 11px;
	font-size: .9em;
}


.free-text {
	border-right: 3px solid slategray;
	border-left: 3px solid slategray;
	padding: 4px;
}

.edit{
	display: none;
}
.view {
	// display: none;
}

.explanation{
	font-weight: lighter;
}


//=========================================================//
//=====================footer==============================//
//=======================================================//

.vcard {
	border: none !important;
}
