/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 *= require joyride
 *= require select2
 */

$department: ooit;

@import 'nd_foundation';

.content-hightlight-bar {
	background: #f0f0f0
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}
.splash {
	text-align: center;
}

.welcome{
	float: left;
	color: white;
	position: relative;
	top: 11px;
	font-size: .9em;

	a{
		color:white;
		font-style: italic;
	}
	a:hover{
		color: lightGray;
	}
}

.editable {
	border-right: 3px solid slategray;
	border-left: 3px solid slategray;
	padding: 4px;
}

.edit{
	// display: none;
}
.view {
	display: none;
}