// Place all the styles related to the guide controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tabs dd {
	border-bottom: solid white 3px;
}

.tabs dd:hover {
	border-bottom: solid black 3px;
}

.loading_bar{
	text-align:center;
}
