// Place all the styles related to the guide controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tabs dd {
	border-bottom: solid white 3px;
}

.tabs dd:hover {
	border-bottom: solid black 3px;
}

.loading_bar{
	text-align:center;
}


#search_results{
	width: 100%;
	margin: 0 auto;
}
@media screen and (max-width: 800px) {
	width: 80%;
}

.toggleable-data-type-label-container:hover{
	cursor:pointer;
	background-color:white;
}

.search_results_msg {
	text-align:center;
	top:50px;
	position:relative;
}

.role_header{
	font-style: italic;
}

.sidebar_security_role_row{
	height:auto;
	overflow:auto;
	padding-bottom:5px;
}
.sidebar_security_role_row_header{
	height:auto;
	overflow:auto;
	text-decoration:underline;
}
