
$light-blue: 	rgb(63,141,217);
$gold:			 	rgb(181,132,46);
$blue:			 	rgb(2,43,91);
$green:			 	rgb(57,167,74);
$black:			 	black;
$white:			 	white;
$transparent:	transparent;
$lightGray: 	rgb(182,182,182);


//=========================================================//
//======================Doc==============================//
//=======================================================//

#searchBar {
	padding: 0 10%;
}

#search1 {
	height: 70px !important;
	width: 100% !important;
	font-size: 2.3em;
	border: 2px solid $lightGray;
	border-radius: 10px;
}
