// Place all the styles related to the terms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.A-Z-Links {
	font-size: .8EM;
	font-family:Georgia, "Times New Roman", Times, serif; color:#555;
}

.term-glossary-row {
	overflow: hidden;
	border-top: 1px dotted #CFD0D1;
	padding-bottom: 1EM;
}