   <% results.each do |result| %>
    <% if result[:type]  == 'report' then %>
     <a class="do_highlight" href="../reports/<%=result[:data]["name"]%>"> <strong>
      <%= result[:data]["name"] %></strong> </a>  </br>
      <% if  result[:data]["description"]   then %>
           <div class="do_highlight">  <%= result[:data]["description"].html_safe %></div> 
          <%else%>
          <div class="do_highlight"> NA </div>
         <%end%>
     <%end%>
 <%end%>
 <%= will_paginate(results, :class => "apple_pagination") %> <br>