<div class="row">
  <div class="large-12 columns">
    <h1 class="page-title">Access Denied</h1>
  </div>
</div>


<div class="row">
                <div class="large-12 columns">

    <div class="large-7 columns">
        <p><strong>Chris,</strong><br/>Currently you do not have permission to access this file.  Please review the following security information in order to understand why you are currently unable to access this document and/or to request the appropriate access needed to view this information.</p>
      <hr/>
      <h5>Your current security access level is: </h5>
        <ul class="inline-list">
            <li><a href=""></a>Secure</li>
        </ul>
      <h5>You are a member of the following security groups:</h5>
        <ul class="inline-list">
            <li><a href="">Financial Aid Analyst</a></li><br/>
            <li><a href="">Provost Anaylst</a></li><br/>
            <li><a href="">Student Anaylst</a></li><br/>
        </ul>
      <hr />
      <h5>Access Level Required: </h5>
        <ul class="inline-list">
            <li><a href=""></a>Highly Secure</li>
        </ul>
      <h5>Access Security Group(s) Required:</h5>
        <ul class="inline-list">
            <li><a href="">Security Admin Analyst</a></li><br/>
            <li><a href="">Admin</a></li><br/>
        </ul>
    </div>

    <aside class="large-5 columns hide-for-small">
      <form>
      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <div class="row">
              <div class="large-12 columns">
                <label>Enter Netid:</label>
                <input type="text" placeholder="Ex: cfreder2" />
              </div>
            </div>
            <div class="row">
            <div class="large-12 columns">
              <label>Select Access Group:</label>
              <select>
                <option value="husker">Security Admin Analyst</option>
                <option value="starbuck">Admin</option>
              </select>
            </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Check all that apply: </label>
                <input id="checkbox1" type="checkbox"><label for="checkbox1">Public</label>
                <input id="checkbox2" type="checkbox"><label for="checkbox2">Secure</label>
                <input id="checkbox3" type="checkbox"><label for="checkbox3">Highly Secure</label>
              </div>
            </div>
            <div class="row">
            <div class="large-12 columns">
              <label>Reason for Access Request:</label>
              <textarea placeholder="small-12.columns"></textarea>
           </div>
            </div>
            <div class="center">
              <a href="#" class="button tiny">Submit Security Request</a>
            </div>
          </div>
        </div>
      </div>
      </form>
    </aside>
  </div>
</div>
