<div class="row">
  <div class="large-12 columns">
    <h1 class="page-title">Security Access Restrictions</h1>
  </div>
</div>


<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h2 align ="left">Reports We Recommended for You!</h2>
			<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4" align ="center">
 				<li> Report One </li>
			</ul>
			<div class="panel">
				<li>What is your favorite reporting tool?</li>
			</div>
		</div>
	</div>
</div>

<div class="row">
  <div class="large-8 columns">
    <h4 align ="left">My Favorites</h4>
      <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4" align ="center">
        <li>Report 1</li>
          <li>Report 2</li>
          <li>Report 3</li>
          <li>Report 4</li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <h4 align ="left">Recently Viewed</h4>
      <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4" align ="center">
        <li>Report 1</li>
          <li>Report 2</li>
          <li>Report 3</li>
          <li>Report 4</li>
      </ul>
  </div>
</div>

<div class="large-4 medium-4 columns">
    <h4></h4>
    <a href="#" class="small button">Add filter</a><br/>       
  </div>

<div class="row">
  <u1 class="example-orbit" data-orbit>
  </ul>
</div>