<div class="row">
  <div class="large-12 columns">
    <h1 class="page-title">Access Denied</h1>
  </div>
</div>


<div class="row">
<div class="large-12 columns">

    <div class="large-7 columns">
        <p><strong>Hi Chris,</strong></p><p>Unfortunatly, you do not have the proper permissions to access this content.  In order to view this file you'll need to request the following security roles:</p>
        <p>
        <span class="alert round radius label">HR Analyst Sensitive</span>
        <span class="alert round radius label">Org Security</span>
        </p>
    </div>
    <div class="row">
    <div class="large-12 columns">
    <aside class="large-7 columns">
      <h5>Request for Access:</h5>
      <form>
      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <div class="row">
              <div class="large-12 columns">
                <label>Enter Netid:</label>
                <input type="text" placeholder="Ex: cfreder2" />
              </div>
            </div>
            
            <div class="row">
              <div class="large-12 columns">
                <label>Check all that apply: </label>
                <input id="checkbox1" type="checkbox"><label for="checkbox1">HR Analyst Sensitive</label>
                <input id="checkbox2" type="checkbox"><label for="checkbox2">Org Security</label>
              </div>
            </div>
            <div class="row">
            <div class="large-12 columns">
              <label>Reason for Access Request:</label>
              <textarea placeholder=""></textarea>
           </div>
            </div>
            <div class="center">
              <a href="#" class="button tiny">Submit Security Request</a>
            </div>
          </div>
        </div>
      </div>
      </form>
    </aside>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p>
            <h5>Your currently hold the following access roles: </h5>
        
             <div class="success round radius label">Public</div>
             <div class="success round radius label">Provost Analyst</div>
             <div class="success round radius label">Student Analyst</div>
            </div>
          </div>
        </p>

  </div>
</div>
