<div class="row">
  <div class="large-12 columns">
    <h1 class="page-title">Business Object's Report</h1>
  </div>
</div>

<div class="row">
	<div class="large-12 columns">
		<div align="right">
			<b><a href="https://boe-prod.cc.nd.edu/OpenDocument/sso-cas-opendoc.jsp?iDocID=6715129" target="_blank">Open In Business Objects     </a></b>
		</div>
		<br/>
		<div align="center">
			<iframe width="925" height="700" src="https://boe-prod.cc.nd.edu/OpenDocument/sso-cas-opendoc.jsp?iDocID=6715129" allowfullscreen></iframe>
		</div>
	</div>
</div>
<br />

<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<div align="center">
				<h2>Users Who Viewed This Report Also Viewed</h2>
				<br/>
			</div>
			<div class="row">
				<div class="large-4 columns">
					<div class="center">
						<a class="th" href="http://localhost:3000/reports/powerview" target="_blank"><%=image_tag("rec_reports/powerview_preview.jpg", alt: "Powrview Report")%>
						</a>
						<br/>
						<h5 align="center"><b>Active Students</b></h5>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="center">
						<a class="th" href="http://localhost:3000/reports/ssrs" target="_blank"><%=image_tag("rec_reports/ssrs_preview.png", alt: "SSRS Report")%>
						</a>
						<br/>
						<h5 align="center"><b>Departmental Exams</b></h5>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="center">
						<a class="th" href="http://localhost:3000/reports/tableau" target="_blank"><%=image_tag("rec_reports/tableau_preview.png", alt: "Tableau Report")%>
						</a>
						<br/>
						<h5 align="center"><b>Undergraduate Enrollment</b></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h2>Report Details</h2>
		<table>
			<tr>
				<td>Description:</td>
				<td>This report counts the number of <a href="active_student.html">active students</a> enrolled by Mendoza <a href="college.html">College</a> of Business. You can explore this report by academic term dating back to 2008.
				</td>
			</tr>
			<td>Created By:</td>
				<td>J. Author </td>
			</tr>
			<tr>	
				<td>Created Date:</td>
				<td>1/26/2014</td>
			</tr>
			<tr>
				<td>Data Sources:</td>
				<td>Student Registrar - ODSP PROD</td>
			</tr>
			<tr>	
				<td>Report Type:</td>
				<td>Business Objects Webi </td>
			</tr>
			<tr>
				<td>Security Level:</td> 
				<td>High - <a href="request_access.html">Request Access</a></td>	
			</tr>
			<tr>
				<td>Security Access Groups:</td> 
				<td>
					<a href="#" class="button tiny">Student Analyst</a>
			</tr>
			<tr>	
				<td>Stakeholders:</td>
				<td>Registrar&#39s Office, Provost&#39s Office, Undergraduate Admissions</td>
			</tr>
		</table>	
	</div>
</div>	