<div class="row">
  <div class="large-12 columns">
    <h1 class="page-title">Report Catalog</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <script type='text/javascript' src='http://public.tableausoftware.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 670px; height: 969px;'><noscript><a href='http:&#47;&#47;irp.dpb.cornell.edu&#47;'><img alt='Cornell Univ Fall Enrollmt ' src='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;DQ&#47;DQ9XNSXJX&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='670' height='969' style='display:none;'><param name='host_url' value='http%3A%2F%2Fpublic.tableausoftware.com%2F' /> <param name='path' value='shared&#47;DQ9XNSXJX' / > <param name='toolbar' value='yes' /><param name='static_image' value='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;DQ&#47;DQ9XNSXJX&#47;1.png' / > <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div><div style='width:670px;height:22px;padding:0px 10px 0px 0px;color:black;font:normal 8pt verdana,helvetica,arial,sans-serif;'><div style='float:right; padding-right:8px;'><a href='http://www.tableausoftware.com/public/about-tableau-products?ref=http://public.tableausoftware.com/shared/DQ9XNSXJX' target='_blank'>Learn About Tableau</a></div></div>
  </div>
</div>

		<iframe src="https://sp.nd.edu/c/provost/registrar/BI_reports/_layouts/15/ReportServer/AdHocReportDesigner.aspx?RelativeReportUrl=%2fc%2fprovost%2fregistrar%2fBI_reports%2fBI%2fActiveStudent_GB.rdlx&ViewMode=Presentation&ReportSection=ReportSection2&Fit=True&PreviewBar=False">
		</iframe>


