<div class="row">
  <div class="large-12 columns">
    <h1 class="page-title">Report Gallery</h1>
  </div>
</div>

  <div class="row">

 <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->

    <div class="large-9 medium-9 columns">
 
      <!-- Feed Entry -->
      <div class="row">
        <div class="small-3 columns">
          <a class="th" href="/reports/powerview">
            <%=image_tag("report_gallery/active_student.png", alt: "Power View Report")%>
          </a>
        </div>
        <div class="small-9 columns">
          <a href="/reports/powerview" target="_blank"><strong>Active Student</strong></a>
          <p><small>Created By: Registrar</small>
          <br/>
          This report counts <a href="active_student.html">active students</a> based on whether the student is degree seeking and <a href="student_level.html">student level</a>. You can explore this report by semester dating back to 2004.</p>
          <span class="success round radius label">General Analyst</span>
        </div>
      </div> 
      <hr/>

      <div class="row">
        <div class="small-3 columns">
          <a class="th" href="/reports/business_objects">
            <%=image_tag("report_gallery/mendoza_enrollment.png", alt: "Business Objects Report")%>
          </a>
        </div>
        <div class="small-9 columns">
          <a href="/reports/business_objects"><strong>Mendoza College Enrollment</strong></a>
          <p><small>Created By: Registrar</small>
          <br/>
          This report counts the number of <a href="active_student.html">active students</a> enrolled by Mendoza <a href="college.html">College</a> of Business. You can explore this report by academic term dating back to 2008.</p>
          <span class="success round radius label">Student Analyst</span>
        </div>
      </div> 
      <hr/>

      <div class="row">
        <div class="small-3 columns small-3">
          <a class="th" href="/reports/tableau">
            <%=image_tag("report_gallery/undergrad_enrollment.png", alt: "Undergraduate Enrollment")%>
          </a>
        </div>
        <div class="small-9 columns">
          <a href="reports/tableau" target="_blank"><strong>Undergraduate Enrollment</strong></a>
          <p><small>Created By: Registrar</small>
          <br/>
          This report counts <a href="active_student.html">active student</a> enrollment for the university over time. You can explore this report by academic year, <a href="student_level.html">student level</a>, <a href="college.html">college</a>, and <a href="gender.html">gender</a>.</p>
          <span class="success round radius label">Public</span>
        </div>
      </div> 
      <hr/>

      <div class="row">
        <div class="small-3 columns">
          <a class="th" href="/reports/access_denied">
            <%=image_tag("report_gallery/Restricted.png", alt: "Talent Review Dashboard")%>
          </a>
        </div>
        <div class="small-9 columns">
          <a href="/reports/access_denied"><strong>Talent Review Dashboard</strong></a>
          <p><small>Created By: Office of Human Resources</small>
          <br/>
          The talent review dashboard provides turnover and affirmitive action data for the organizations you are responsible for.</p>
          <span class="alert round radius label">HR Analyst Sensitive</span>
          <span class="alert round radius label">Org Security</span>
        </div>
      </div> 
    </div>
    <!-- Right Sidebar -->
    <!-- On small devices this column is hidden -->
    <aside class="large-3 medium-3 columns hide-for-small">
      <form>
      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <div class="row">
              <div class="large-12 columns">
                <label>Filter</label>
                <input type="text" placeholder="Enter Key Words" />
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Check all that apply: </label>
                <input id="checkbox1" type="checkbox"><label for="checkbox1">Public</label><br/>
                <input id="checkbox2" type="checkbox"><label for="checkbox2">Have access</label><br/>
                <input id="checkbox3" type="checkbox"><label for="checkbox3">No access</label><br/>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
    </aside>
  </div>
  </BR></BR>
  <div class="pagination-centered">
  <ul class="pagination">
    <li class="arrow unavailable"><a href="">&laquo;</a></li>
    <li class="current"><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li class="unavailable"><a href="">&hellip;</a></li>
    <li><a href="">12</a></li>
    <li><a href="">13</a></li>
    <li class="arrow"><a href="">&raquo;</a></li>
  </ul>
</div>
