<div class="row">
  <div class="large-12 columns">
    <h1 class="page-title">Report Builder Report</h1>
  </div>
</div>

<div class="row">
	<div class="large-12 columns">
		<div align="right">
			<b><a href="https://sp.nd.edu/c/provost/registrar/BI_reports/_layouts/15/ReportServer/AdHocReportDesigner.aspx?RelativeReportUrl=/c/provost/registrar/BI_reports/BI/ActiveStudentoverall.rdlx&ViewMode=Presentation&Source=https%3A%2F%2Fsp%2End%2Eedu%2Fc%2Fprovost%2Fregistrar%2FBI_reports%2FBI%2FForms%2FAllItems%2Easpx" target="_blank">Open Report In SharePoint</a></b>
		</div>
		<br/>
		<div align="center">
			<iframe width="925" height="700" src="https://sp.nd.edu/c/provost/registrar/BI_reports/_layouts/15/ReportServer/AdHocReportDesigner.aspx?RelativeReportUrl=/c/provost/registrar/BI_reports/BI/ActiveStudentoverall.rdlx&ViewMode=Presentation&Source=https%3A%2F%2Fsp%2End%2Eedu%2Fc%2Fprovost%2Fregistrar%2FBI_reports%2FBI%2FForms%2FAllItems%2Easpx" allowfullscreen></iframe>
		</div>
	</div>
</div>
<br />

<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<div align="center">
				<h2>Users Who Viewed This Report Also Viewed</h2>
				<br/>
			</div>
			<div class="row">
				<div class="large-4 columns">
					<div class="center">
						<a class="th" href="http://localhost:3000/reports/business_objects" target="_blank"><%=image_tag("rec_reports/bo_preview.png", alt: "Business Objects Report")%>
						</a>
						<br/>
						<h5 align="center"><b>Mendoza Enrollment Count</b></h5>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="center">
						<a class="th" href="http://localhost:3000/reports/powerview" target="_blank"><%=image_tag("rec_reports/powerview_preview.jpg", alt: "Powrview Report")%>
						</a>
						<br/>
						<h5 align="center"><b>Active Students</b></h5>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="center">
						<a class="th" href="http://localhost:3000/reports/tableau" target="_blank"><%=image_tag("rec_reports/tableau_preview.png", alt: "Tableau Report")%>
						</a>
						<br/>
						<h5 align="center"><b>Undergraduate Enrollment</b></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h2>Report Details</h2>
		<table>
			<tr>
				<td>Description:</td>
				<td> This report lists all of the Departmental exams for the selected term.</td>
			</tr>
			<td>Created By:</td>
				<td>J. Author </td>
			</tr>
			<tr>	
				<td>Created Date:</td>
				<td>1/26/2014</td>
			</tr>
			<tr>
				<td>Data Sources:</td>
				<td>EMS Model</td>
			</tr>
			<tr>	
				<td>Report Type:</td>
				<td>SSRS</td>
			</tr>
			<tr>
				<td>Security Level:</td> 
				<td>Low - Information open to public</td>	
			</tr>
			<tr>
				<td>Security Access Groups:</td> 
				<td>
					<a href="#" class="button tiny">General Public</a>
				</td>	
			</tr>
			<tr>	
				<td>Stakeholders:</td>
				<td>Building Services, Registrar's Office</td>
			</tr>
		</table>	
	</div>
</div>	