<div class="row">
  <div class="large-12 columns">
    <h1 class="page-title">Faculty Headcount</h1>
  </div>
</div>
<div class="row">
	<div class="large-11 large-centered columns">
		<p>Trending for <a href="#" data-reveal-id="myModal" data-reveal>active faculty</a> over time. You can view this report by <a href="#">fiscal year</a> and <a href="student_level.html">faculty category</a>.</p>
	</div>

</div>
<div class="row">
	<div class="large-12 columns">
		</div align="center"><br/>        
		<script type='text/javascript' src='http://tab1-dev.dc.nd.edu/javascripts/api/viz_v1.js'></script>
		<div class='tableauPlaceholder' style='width: 1587px; height: 708px;'><object class='tableauViz' width='1587' height='708' style='display:none;'><param name='host_url' value='http%3A%2F%2Ftab1-dev.dc.nd.edu%2F' /> <param name='site_root' value='' /><param name='name' value='Faculty_Headcount_0&#47;Sheet2' /><param name='tabs' value='no' />
        <param name='toolbar' value='yes' /></object></div>
     </div>
</div>
<div class="row">
 <div class="large-2 columns">
	<br />
</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<div align="center">
				<h5>Users Who Viewed This Report Also Viewed</h5>
				<br/>
			</div>
			<div class="row">
				<div class="large-4 columns">
					<div class="center">
						<a class="th" href="http://localhost:3000/reports/business_objects" target="_blank"><%=image_tag("rec_reports/bo_preview.png", alt: "Business Objects Report")%>
						</a>
						<br/>
						<h5 align="center">Mendoza Enrollment Count</h5>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="center">
						<a class="th" href="http://localhost:3000/reports/ssrs" target="_blank"><%=image_tag("rec_reports/ssrs_preview.png", alt: "SSRS Report")%>
						</a>
						<br/>
						<h5 align="center">Departmental Exams</h5>
					</div>
				</div>
				<!--<div class="large-4 columns">
					<div class="center">
						<a class="th" href="http://tab1-dev.dc.nd.edu/views/FacultyHistogram/ProposedSalariesDash#2" target="_blank"><%=image_tag("report_gallery/facultyhistogram.png", alt: "FacultyHistogram Report")%>
						</a>
						<br/>
						<h5 align="center">Faculty Histograms</h5>
					</div>
				</div> -->
				<div class="large-4 columns">
					<div class="center">
						<a class="th" href="http://localhost:3000/reports/tableau" target="_blank"><%=image_tag("rec_reports/tableau_preview.png", alt: "Tableau Report")%>
						</a>
						<br/>
						<h5 align="center">Undergraduate Enrollment</h5>
					</div> 
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h2>Report Details</h2>
		<table>
			<tr>
				<td>Created By:</td>
				<td>C. Author </td>
			</tr>
			<tr>	
				<td>Last Refreshed Date:</td>
				<td>1/26/2014</td>
			</tr>
			<tr>
				<td>Data Sources:</td>
				<td><a href="#">Student Model</a>  Need more? Write an <a href="https://sp.nd.edu/c/provost/registrar/BI_reports/BIWIPDEV/Registrar_Course_Model.rsds">ad-hoc</a> query</td>
			</tr>
			<tr>	
				<td>Report Type:</td>
				<td>Tableau</td>
			</tr>
			<tr>
				<td>Security Roles:</td> 
				<td><span class="success round radius label">Public</span></td>	
			</tr>
			<tr>	
				<td>Stakeholders:</td>
				<td>Registrar&#39s Office, Provost&#39s Office, Undergraduate Admissions</td>
			</tr>
		</table>	
	</div>
</div>	
<div class="row">
	<div class="large-12 columns">
		<h2>Terms used in Report</h2>
		<table>
			<tr>
			<td><a href="https://docs.google.com/document/d/19K39UbQMxDJf2eM-z_saiTfSgDGrLfyr2TrxgNN4yQg/pub">Academic Year</a></td>
				<td>
			      The annual cycle of teaching and study. It is divided into academic terms.  The cycle begins with the summer term, continues during the fall term and concludes with the spring term.  It also includes the full year term associated with those three terms.
				</td>
			</tr>
			<tr>
			<td><a href="https://docs.google.com/document/d/1bYrCz56hUOb0TIKuNxB5SowZbR4H7l354uSnrPeKPAM/pub?embedded=true">Active Student</a></td>
				<td>
	      An individual who has been confirmed by an admitting office (or other admitting authority), as recorded by the University Registrar, is considered an active student until he or she:
	      <a href="#" data-reveal-id="myModal" data-reveal>..more</a>
				</td>
			</tr>
			<tr>
				<td><a href="https://docs.google.com/document/d/1mRCtjlizEjWpHobh0fKjtZ_8XXLJ2d68vbFEvGmKYBo/pub">College</a></td>
				<td>One of the major academic components of the University, normally headed by a Dean
				</td>
			</tr>
			<tr>
				<td><a href="https://docs.google.com/document/d/1yGMFdhR52JFSfoUEw_XXmfq4K9eHr2w1Mj6QucblqH0/pub">Gender</a></td>
				<td>Indicates an individual’s self-reported biological sex
				</td>
			</tr>

			
		</table>	
	</div>
</div>

<div id="myModal" class="reveal-modal" data-reveal>
	<h4 class="definition-title">Active Student</h4>
	  	<span class="definition-body">
	      An individual who has been confirmed by an admitting office (or other admitting authority), as recorded by the University Registrar, is considered an active student until he or she:</span>
  <ul class="definition-body">
			    <li>Graduates (if degree-seeking)</li>
			    <li>Completes the <span data-tooltip class="has-tip" title="One of the major periods of instruction during the academic year.">academic term</span> (if non degree-seeking)</li>
			    <li>Withdraws or is dismissed by the University</li>
			    <li>Fails to enroll for a spring or fall <span data-tooltip class="has-tip" title="One of the major periods of instruction during the academic year.">academic term</span> (unless granted a leave of absence by a Dean)</li>
		    </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>